//font-family: 'DM Sans', sans-serif;
@import "../sass/reset.scss";
@import "../sass/variables.scss";

#resume{
    width: 50%;
    height: 500px;
    .total{
        display: flex;
        flex-direction: column;
        background-color: $Softred;
        color: $Verypaleorange;
    }
}